.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5, 1.5);
}
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
}
.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  width: 80%;
  /* flex: 1; */
  flex-direction: column;
  justify-content: space-around;
  margin-top: 8px;
  padding: 8px;
  border: 1px solid lightgray;
  box-shadow: 0px 5px 5px -3px gray; 
}
.date-picker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

table {
  width: 100%;
  border-spacing: 8px;
}
td, th {
  text-align: center;
}
th {
  background-color: #444;
  border-color: #444;
  outline: 2px solid #444;
  color: #fafafa;
  padding: 4px 0 4px 0;
  border-bottom: 3px solid #444;
}

tr {
  border-bottom: 1px solid lightgray;
}

.table-controls{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.table-pagination {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.pagination-buttons {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.results {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 600px) {  
  .container {
    padding: 4px 8px 4px 8px;
  }
  .content {
    padding: 8px 8px 8px 8px;
    align-self: stretch;
  }
  .heading {
    font-size: 32px;
  }
  .form {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {  
  .attendance-table tr :nth-child(3),
  .attendance-table tr :nth-child(4),
  .attendance-table tr :nth-child(5),
  .attendance-table tr :nth-child(6) {
    display: none;
  }
}
/* tr:nth-child(even) {
  background-color: lightgray;
}
tr:nth-child(odd) {
  background-color: beige;
} */