@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
  transition: .3s ease;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  overflow: scroll;
}
::-webkit-scrollbar { 
  display: none; 
}

.bg-info {
  background: #0077ff;
  color: white;
}

.bg-danger {
  background: #ee2222;
  color: white;
}

.bg-warning {
  background: #ddaa00;
  color: white;
}

.bg-success {
  background: #44aa33;
  color: white;
}