1. Simple login system (only for HRD), use firebase (optional, di akhir aja)

pre-2: scrap tokopedia nakamas! (DONE!)
2. Insert, Update, Delete employee (mongoose) (DONE!)
3. Mark employee as (present or absent) today (DONE!)
4. Mark all (DONE!)

NEXT:

5. Employee profile page, to see graph of past month and past year

5. Page to see employee's attendance for a week
6. Page to see employee's attendance for a month
7. Page to see employee's attendance for a year