.heading {
  font-size: 24px;
}
.content {
  display: flex;
}
.form-container{
  display: flex;
  width: 100%;
  flex: 1;
  overflow: scroll;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 600px) {  
  .container {
    padding: 4px 8px 4px 8px;
  }
  .content {
    padding: 8px 8px 8px 8px;
  }
  .heading {
    font-size: 32px;
  }
}